Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 960 513 356 293

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "/home/master/euclide_project/Triangle_New_1/sim/SINGLE_PORT_ENV/TOP_TB_ENV/tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 68637.566836
cursor 15000.000000
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 70

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "input_if_0"
activeDirFile "" "/home/master/euclide_project/Triangle_New_1/sim/SINGLE_PORT_ENV/TOP_TB_ENV/tb.fsdb"
addSignal -h 15 /top_tb/input_if_0/clk
addSignal -h 15 -UNSIGNED -HEX -holdScope exp8[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope frac32[31:0]
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope sign
addSignal -h 15 -holdScope sin_cos
addSignal -h 15 -holdScope valid
addSignal -h 15 /LOGIC_LOW
addSignal -h 15 -holdScope LOGIC_HIGH
addGroup "output_if"
addSignal -h 15 /top_tb/output_if/clk
addSignal -h 15 -UNSIGNED -HEX -holdScope exp8[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope frac32[31:0]
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope sin_cos
addSignal -h 15 -holdScope valid
addSignal -h 15 /LOGIC_LOW
addSignal -h 15 -holdScope LOGIC_HIGH
addGroup "u_stage1" -e FALSE
addSignal -h 15 /top_tb/u_top/u_stage1/i_clk
addSignal -h 15 -holdScope i_valid
addSubGroup "u_dist_compress" -e FALSE
addSignal -h 15 /top_tb/u_top/u_stage1/u_dist_compress/RESULT_SIGN_FLIP
addSignal -h 15 -holdScope X_ZERO_FLAG
addSignal -h 15 -holdScope exp_neg_or_pos
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_result[7:0]
addSignal -h 15 -holdScope frac_eq_z_ori
addSignal -h 15 -holdScope frac_eq_z_shifted
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_frac_a[31:0]
addSignal -h 15 -holdScope i_sign_a
addSignal -h 15 -holdScope i_sincos
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_a_compressed[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_a_compressed[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_lzd_num[4:0]
addSignal -h 15 -holdScope o_sign_a_compressed
addSignal -h 15 -UNSIGNED -HEX -holdScope result_frac[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope shifted_frac[31:0]
endSubGroup "u_dist_compress"
addGroup "u_pre_MAP"
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_stage1/u_pre_MAP/bias_exp[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bias_frac[31:0]
addSignal -h 15 -holdScope bias_opsel
addSignal -h 15 -UNSIGNED -HEX -holdScope bias_sel[2:0]
addSignal -h 15 -holdScope bias_sign
addSignal -h 15 -holdScope i_RESULT_SIGN_FLIP
addSignal -h 15 -UNSIGNED -BIN -holdScope i_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_frac_a[31:0]
addSignal -h 15 -holdScope i_sign_a
addSignal -h 15 -holdScope i_sincos_proced
addSignal -h 15 -holdScope map_code_sel
addSignal -h 15 -holdScope mode_sel
addSignal -h 15 -holdScope o_RESULT_SIGN_FLIP
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_bias[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_a[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_bias[31:0]
addSignal -h 15 -holdScope o_sign_a
addSignal -h 15 -holdScope o_sign_bias
addSignal -h 15 -holdScope o_sincos_proced
addSignal -h 15 -holdScope path_sel
addSignal -h 15 -holdScope sign_sel
addSignal -h 15 /top_tb/u_top/u_stage1/o_st1_reg_RESULT_SIGN_FLIP
addSignal -h 15 -UNSIGNED -HEX -holdScope o_st1_reg_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_st1_reg_exp_bias[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_st1_reg_frac_a[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_st1_reg_frac_bias[31:0]
addSignal -h 15 -holdScope o_st1_reg_sign_a
addSignal -h 15 -holdScope o_st1_reg_sincos_proced
addSignal -h 15 -holdScope o_st1_valid
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/master/euclide_project/Triangle_New_1/sim/SINGLE_PORT_ENV/TOP_TB_ENV/tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/ZERO_NORMAL"
"/top_tb"
"/top_tb/input_if_0"
"/top_tb/u_top"
"/top_tb/u_top/u_stage1"

SCOPE_LIST_BEGIN
"/ZERO_NORMAL"
"/top_tb"
"/top_tb/input_if_0"
"/top_tb/output_if"
"/uvm_custom_install_recording"
"/top_tb/u_top/u_stage1"
"/top_tb/u_top/u_stage1/u_dist_compress"
"/top_tb/u_top/u_stage1/u_pre_MAP"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


