Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 940 356 419

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/master/euclide_project/Triangle_New_1/sim/SINGLE_PORT_ENV/TOP_TB_ENV/tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 196970.688313
cursor 105000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 95
; marker line index
markerPos 167

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/master/euclide_project/Triangle_New_1/sim/SINGLE_PORT_ENV/TOP_TB_ENV/tb.fsdb"
addSignal -h 15 /top_tb/input_if_0/D_ZERO_FLAG
addSignal -h 15 -holdScope RESULT_SIGN_FLIP
addSignal -h 15 -holdScope X_ZERO_FLAG
addSignal -h 15 -holdScope clk
addSignal -h 15 -2COMP -UDEC -holdScope exp8[7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope frac32[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope frac36[35:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope frac40[39:0]
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope sign
addSignal -h 15 -holdScope sin_cos
addSignal -h 15 -holdScope valid
addSubGroup "output_if"
addSignal -h 15 /top_tb/output_if/D_ZERO_FLAG
addSignal -h 15 -holdScope RESULT_SIGN_FLIP
addSignal -h 15 -holdScope X_ZERO_FLAG
addSignal -h 15 -holdScope clk
addSignal -h 15 -2COMP -UDEC -holdScope exp8[7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope frac32[31:0]
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope sign
addSignal -h 15 -holdScope sin_cos
addSignal -h 15 -holdScope valid
addSignal -h 15 /LOGIC_LOW
addSignal -h 15 -holdScope LOGIC_HIGH
addSignal -h 15 -holdScope BLANK
endSubGroup "output_if"
addGroup "G2"
addSignal -h 15 /top_tb/output_if/D_ZERO_FLAG
addSignal -h 15 -holdScope RESULT_SIGN_FLIP
addSignal -h 15 -holdScope X_ZERO_FLAG
addSignal -h 15 -holdScope clk
addSignal -h 15 -2COMP -UDEC -holdScope exp8[7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope frac32[31:0]
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope sign
addSignal -h 15 -holdScope sin_cos
addSignal -h 15 -holdScope valid
addSignal -h 15 -UNSIGNED -UDEC /top_tb/u_top/u_round/i_frac_a[39:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope o_frac_a[31:0]
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_fma3/o_exp_c[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_c[39:0]
addGroup "G3" -e FALSE
addGroup "u_fma3" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_fma3/o_frac_c[39:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope o_frac_c_reg[39:0]
addSignal -h 15 -holdScope o_sign_c_reg
addSignal -h 15 -2COMP -UDEC -holdScope o_exp_c_reg[7:0]
addSignal -h 15 -holdScope o_sign_c
addGroup "G5" -e FALSE
addSubGroup "u_fma1"
endSubGroup "u_fma1"
addSignal -h 15 -2COMP -UDEC /top_tb/u_top/u_fma1/i_exp_XorD[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_frac_XorD[35:0]
addSignal -h 15 -holdScope i_sel_DorX
addSignal -h 15 -holdScope o_sign_c_reg
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_c_reg[7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope o_frac_c_reg[35:0]
addSignal -h 15 -holdScope i_valid
addSignal -h 15 -holdScope i_valid_2
addSignal -h 15 -holdScope i_clk
addGroup "u_pre_MAP"
addSubGroup "u_dist_compress"
endSubGroup "u_dist_compress"
addSignal -h 15 /top_tb/u_top/u_stage1/u_dist_compress/RESULT_SIGN_FLIP
addSignal -h 15 -holdScope X_ZERO_FLAG
addSignal -h 15 -holdScope exp_neg_or_pos
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_result[7:0]
addSignal -h 15 -holdScope frac_eq_z_ori
addSignal -h 15 -holdScope frac_eq_z_shifted
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_frac_a[31:0]
addSignal -h 15 -holdScope i_sign_a
addSignal -h 15 -holdScope i_sincos
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_a_compressed[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_a_compressed[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_lzd_num[4:0]
addSignal -h 15 -holdScope o_sign_a_compressed
addSignal -h 15 -UNSIGNED -HEX -holdScope result_frac[31:0]
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_stage1/u_pre_MAP/bias_exp[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bias_frac[31:0]
addSignal -h 15 -holdScope bias_opsel
addSignal -h 15 -UNSIGNED -HEX -holdScope bias_sel[2:0]
addSignal -h 15 -holdScope bias_sign
addSignal -h 15 -holdScope i_RESULT_SIGN_FLIP
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_frac_a[31:0]
addSignal -h 15 -holdScope i_sign_a
addSignal -h 15 -holdScope i_sincos_proced
addSignal -h 15 -UNSIGNED -HEX -holdScope map_code[4:0]
addSignal -h 15 -holdScope mode_sel
addSignal -h 15 -holdScope o_RESULT_SIGN_FLIP
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_bias[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_a[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_bias[31:0]
addSignal -h 15 -holdScope o_sign_a
addSignal -h 15 -holdScope o_sign_bias
addSignal -h 15 -holdScope o_sincos_proced
addSignal -h 15 -holdScope path_sel
addSignal -h 15 -holdScope sign_sel
addSignal -h 15 /LOGIC_LOW
addSignal -h 15 -holdScope LOGIC_HIGH
addSignal -h 15 -holdScope BLANK
addSignal -h 15 /top_tb/input_if_0/clk
addGroup "u_CAL_BIAS"
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_stage2/u_CAL_BIAS/COMPARE_DIST1[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope COMPARE_DIST2[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope TRANS_FRAC[31:0]
addSignal -h 15 -holdScope X_0_125_FLAG
addSignal -h 15 -UNSIGNED -HEX -holdScope dist_cal[1:0]
addSignal -h 15 -holdScope i_X_ZERO_FLAG
addSignal -h 15 -2COMP -UDEC -holdScope i_exp[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope i_frac[31:0]
addSignal -h 15 -holdScope i_sincos_proced
addSignal -h 15 -UNSIGNED -HEX -holdScope o_COMPARE_DIST1_LOW[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_COMPARE_DIST2_LOW[2:0]
addSignal -h 15 -holdScope o_SEL_L_OR_S
addSignal -h 15 -holdScope o_X_0_125_FLAG
addSignal -h 15 -holdScope o_X_APPRO_ZERO
addSignal -h 15 -holdScope o_X_ZERO_CAL_FLAG
addSignal -h 15 -UNSIGNED -BIN -holdScope o_Xi_FRAC[31:0]
addSignal -h 15 -holdScope o_sincos_proced
addSignal -h 15 /LOGIC_LOW
addSignal -h 15 -holdScope LOGIC_HIGH
addSignal -h 15 -holdScope BLANK
addGroup "u_FSUB_N32_D0"
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_stage3/u_FSUB_N32_D0/exp_close0[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_f[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_b[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_frac_a[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_frac_b[31:0]
addSignal -h 15 -holdScope i_sign_a
addSignal -h 15 -2COMP -UDEC -holdScope o_exp_c[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope o_frac_c[31:0]
addSignal -h 15 -UNSIGNED -UDEC /top_tb/u_top/u_stage3/u_ADDR_DECODE/o_ADDR_L_7B[6:0]
addSignal -h 15 /top_tb/u_top/u_stage3/u_FSUB_N32_D0/o_sign_c
addSignal -h 15 -UNSIGNED -HEX -holdScope shift_num[5:0]
addSignal -h 15 /LOGIC_LOW
addSignal -h 15 -holdScope LOGIC_HIGH
addSignal -h 15 -holdScope BLANK
addGroup "G11"
addSignal -h 15 /top_tb/u_top/u_cof_rec_top/cof_sign_0
addSignal -h 15 -2COMP -UDEC -holdScope cof_exp_0[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope cof_frac_0[39:0]
addSignal -h 15 -holdScope cof_sign_1
addSignal -h 15 -UNSIGNED -HEX -holdScope cof_exp_1[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope cof_frac_1[39:0]
addSignal -h 15 -holdScope cof_sign_2
addSignal -h 15 -UNSIGNED -HEX -holdScope cof_exp_2[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope cof_frac_2[35:0]
addSignal -h 15 -holdScope cof_sign_3
addSignal -h 15 -UNSIGNED -HEX -holdScope cof_exp_3[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope cof_frac_3[35:0]
addSignal -h 15 -holdScope cof_sign_0
addSignal -h 15 -UNSIGNED -HEX -holdScope cof_torec[167:0]
addSignal -h 15 /top_tb/u_top/u_stage3/o_st3_valid
addGroup "u_cof_rec_3"
addSignal -h 15 /BLANK
addSignal -h 15 /top_tb/u_top/u_stage3/o_SEL_L_or_S
addGroup "G12"
addSubGroup "u_fma1"
addSubGroup "u_FMUL_40"
endSubGroup "u_FMUL_40"
addSignal -h 15 /top_tb/u_top/u_fma1/i_clk
addSignal -h 15 -holdScope i_valid
addSignal -h 15 -holdScope i_valid_2
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_reg[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope frac_reg[31:0]
addSignal -h 15 -holdScope sign_reg
addSubGroup "u_FADD_N36"
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_fma1/u_FADD_N36/close_result[35:0]
addSignal -h 15 -holdScope close_sign
addSignal -h 15 -UNSIGNED -HEX -holdScope diff_a_sub_b[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope diff_abs[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope diff_b_sub_a[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope elarge_op[35:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope esmall_op[35:0]
addSignal -h 15 -holdScope exp_a_lt_b
addSignal -h 15 -holdScope exp_a_neq_b
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_close[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_f[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_far[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope far_result[35:0]
addSignal -h 15 -holdScope far_sign
addSignal -h 15 -2COMP -UDEC -holdScope i_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_b[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope i_frac_a[35:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope i_frac_b[35:0]
addSignal -h 15 -holdScope i_sign_a
addSignal -h 15 -holdScope i_sign_b
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_c[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope o_frac_c[35:0]
addSignal -h 15 -holdScope o_sign_c
addSignal -h 15 -holdScope path_sel
addSignal -h 15 -holdScope sign_diff
endSubGroup "u_FADD_N36"
endSubGroup "u_fma1"
addGroup "G13"
addSubGroup "u_fma2"
addSignal -h 15 /top_tb/u_top/u_fma2/i_valid
addSignal -h 15 -holdScope i_valid_2
addSignal -h 15 -holdScope i_clk
addSignal -h 15 -UNSIGNED -BIN -holdScope i_frac_m1[39:0]
addSubGroup "u_FMUL_40"
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_fma2/u_FMUL_40/MUL_FULL_WIDTH[79:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope MUL_RESULT_TOSHIFT[40:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_c[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope exp_c_normalized[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_a[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i_exp_b[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope i_frac_a[39:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope i_frac_b[39:0]
addSignal -h 15 -holdScope i_sign_a
addSignal -h 15 -holdScope i_sign_b
addSignal -h 15 -holdScope normalize_shift
addSignal -h 15 -UNSIGNED -HEX -holdScope o_exp_c[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o_frac_c[39:0]
addSignal -h 15 -holdScope o_sign_c
addSignal -h 15 -holdScope zero
addSignal -h 15 -UNSIGNED -HEX /top_tb/u_top/u_fma2/i_frac_XorD[39:0]
endSubGroup "u_FMUL_40"
endSubGroup "u_fma2"
addGroup "G14"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/master/euclide_project/Triangle_New_1/sim/SINGLE_PORT_ENV/TOP_TB_ENV/tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/ZERO_NORMAL"
"/top_tb"
"/top_tb/input_if_0"
"/top_tb/u_top"
"/top_tb/u_top/u_cof_rec_top"
"/top_tb/u_top/u_cof_rec_top/u_cof_rec_3"
"/top_tb/u_top/u_fma1"
"/top_tb/u_top/u_fma1/u_FADD_N36"
"/top_tb/u_top/u_fma2"
"/top_tb/u_top/u_fma3"
"/top_tb/u_top/u_fma3/u_FADD_N40"
"/top_tb/u_top/u_round"
"/top_tb/u_top/u_stage1"
"/top_tb/u_top/u_stage1/u_pre_MAP"
"/top_tb/u_top/u_stage2"
"/top_tb/u_top/u_stage2/u_CAL_BIAS"
"/top_tb/u_top/u_stage2/u_FSUB_N32_D0OR1"
"/top_tb/u_top/u_stage2/u_FSUB_N32_D0OR1/u_fadd_close"
"/top_tb/u_top/u_stage3"
"/top_tb/u_top/u_stage3/u_ADDR_DECODE"

SCOPE_LIST_BEGIN
"/ZERO_NORMAL"
"/FADD_N36"
"/top_tb"
"/_vcs_msglog"
"/top_tb/input_if_0"
"/top_tb/output_if"
"/top_tb/u_top"
"/top_tb/u_top/u_round"
"/top_tb/u_top/u_stage1"
"/top_tb/u_top/u_stage2"
"/top_tb/u_top/u_fma3"
"/top_tb/u_top/u_cof_rec_top"
"/top_tb/u_top/u_fma1"
"/top_tb/u_top/u_stage1/u_dist_compress"
"/top_tb/u_top/u_stage1/u_pre_MAP"
"/top_tb/u_top/u_cof_rec_top/u_cof_rec_3"
"/top_tb/u_top/u_stage2/u_CAL_BIAS"
"/top_tb/u_top/u_stage2/u_FSUB_N32_D0OR1"
"/top_tb/u_top/u_stage3/u_FSUB_N32_D0"
"/top_tb/u_top/u_cof_rec_top/u_cof_rec_1"
"/top_tb/u_top/u_stage2/u_FSUB_N32_D0OR1/u_fadd_close"
"/top_tb/u_top/u_stage3"
"/top_tb/u_top/u_stage3/u_ADDR_DECODE"
"/top_tb/u_top/u_cof_rec_top/u_cof_rec_0"
"/top_tb/u_top/u_fma1/u_FADD_N36"
"/top_tb/u_top/u_fma1/u_FMUL_40"
"/top_tb/u_top/u_fma1/u_FADD_N36/u_fadd_far_n36"
"/top_tb/u_top/u_fma1/u_FADD_N36/u_fadd_close_n36"
"/top_tb/u_top/u_fma2"
"/top_tb/u_top/u_fma2/u_FMUL_40"
"/top_tb/u_top/u_fma1/u_FMUL_36"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


