@elabcom rc file Version 1.0
[oh]
invokeDir = /media/mrx/share_space/TRI_ANGLE/sim/DUAL_PORT_ENV/FADD_40_ENV
hostCommand = -lib simv.daidir/work -saveLevel -elab simv.daidir/kdb -simflow -simdir simv.daidir/kdb_libs -top "uvm_custom_install_recording uvm_custom_install_verdi_recording correction_tree_N37 correction_tree_N34 top_tb" -Lf work +disable_message+C00380+C00381 +disa\
ble_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
